
.sf-component
  .sf-container

    .PortalTopo

      .PortalTopo-id.PortalTopo-id--wide
        .PortalTopo-title
          | Senado
          .PortalTopo-sub.eta-xs.epsilon Essencial

      .PortalTopo-togglers.visible-xs
        button.PortalTopo-toggler--search(data-toggle='collapse', data-target='.PortalTopo-busca')
          .glyphicon.glyphicon-search
        button.PortalTopo-toggler--menu(data-toggle='collapse', data-target='.Nav--principal')
          .Icon.Icon--menu.Icon--md

      .PortalTopo-busca.collapse
        include ../commons/search.pug

    nav.Nav--principal.navbar.navbar-default.navbar-collapse.nav-collapse.collapse(role="navigation")
      ul.nav.navbar-nav
        li: a(href='#') Início
        li: a(href='#') Constituição Federal
        li: a(href='#') Legislação Federal
        li: a(href='#') Regimento Interno
        //- os dropdowns precisam ficar aberto no momento de gerar o uncss e
        //- fechado na hora do build
        li.dropdown(class=(dist ? '' : 'open'))
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            = 'Consulte '
            span.caret
          ul.dropdown-menu
            li: a(href='#') Bases Históricas
            li: a(href='#') SICON

    nav.Nav--secundaria.hidden-xs
      ul.nav.navbar-nav.pull-right
        li: a(href='http://www12.senado.leg.br/jornal') Jornal do Senado
        li: a(href='http://www12.senado.gov.br/noticias') Senado Notícias
        li: a(href='http://www.senado.leg.br/noticias/tv') TV Senado

.sf-component
  .sf-container

    ol.Breadcrumbs
      li: a Home
      li: a Constituição Federal
      li: a Emendas Constituicionais
      li.active EC nº 35
    div.sf-H1.titulo-principal Emenda Constitucional nº 35
