.FooterMain-row
  .FooterMain-section
    dl.FooterMain-list
      dt Portais
      dd: a.FooterMain-link.u-linkClean(href='http://www12.senado.leg.br/institucional/') Institucional
      dd: a.FooterMain-link.u-linkClean(href='http://www25.senado.leg.br/web/senadores/') Senadores
      dd: a.FooterMain-link.u-linkClean(href='http://www25.senado.leg.br/web/atividade/') Atividade Legislativa
      dd: a.FooterMain-link.u-linkClean(href='http://www12.senado.leg.br/noticias') Notícias
      dd: a.FooterMain-link.u-linkClean(href='http://www12.senado.leg.br/publicacoes') Publicação e Documentação
      dd: a.FooterMain-link.u-linkClean(href='http://www12.senado.leg.br/orcamento') Orçamento
      dd: a.FooterMain-link.u-linkClean(href='http://www12.senado.leg.br/transparencia/') Transparência
      dd: a.FooterMain-link.u-linkClean(href="http://www12.senado.leg.br/ecidadania/") e-Cidadania
  .FooterMain-section
    dl.FooterMain-list
      dt Acesso Rápido
      dd: a.FooterMain-link.u-linkClean(href='http://www12.senado.leg.br/blog') Blog
      dd: a.FooterMain-link.u-linkClean(href='http://www12.senado.leg.br/blog/credenciamento-de-jornalistas') Credenciamento de Jornalistas
      dd: a.FooterMain-link.u-linkClean(href='http://www12.senado.leg.br/senado/ilb/ead/abrangencia') Educação a distância
      dd: a.FooterMain-link.u-linkClean(href='http://www12.senado.leg.br/jovemsenador') Jovem Senador
      dd: a.FooterMain-link.u-linkClean(href='http://www12.senado.gov.br/institucional/procuradoria') Procuradoria da Mulher
      dd: a.FooterMain-link.u-linkClean(href='http://www12.senado.gov.br/institucional/estagio') Programa de Estágio
      dd: a.FooterMain-link.u-linkClean(href='http://www.interlegis.leg.br/') Programa Interlegis
      dd: a.FooterMain-link.u-linkClean(href='http://www.senado.leg.br/senado/visite/') Visite o Senado
  .FooterMain-section.milli
    dl.FooterMain-list.CutHere.CutHere--white.CutHere--xl
      dt
        a.FooterMain-hlink.u-linkClean(target="_blank", href='http://www.senado.leg.br/transparencia/LAI/secrh/parla_inter.pdf')
          strong Fale com os Senadores
      dd
        a.FooterMain-hlink.u-linkClean.u-linkBlock(href='http://www12.senado.leg.br/institucional/falecomosenado')
          strong Fale com o Senado
      dd
        a.FooterMain-hlink.u-linkClean.u-linkBlock(target="_blank", href='http://www.congressonacional.leg.br/')
          strong Congresso Nacional
        a.FooterMain-hlink.u-linkClean.u-linkBlock(target="_blank", href='http://www.camara.leg.br/')
          strong Câmara dos Deputados
        a.FooterMain-hlink.u-linkClean.u-linkBlock(target="_blank", href='http://www.tcu.gov.br/')
          strong Tribunal de Contas da União
  .FooterMain-section
    dl.FooterMain-list
      dt Redes Sociais
      dd
        a.ShareIcon.ShareIcon--dark.ShareIcon--circle.ShareIcon--facebook(href='http://www.facebook.com/senadofederal', target='_blank', title='Facebook', alt='Facebook')
        = ' '
        a.ShareIcon.ShareIcon--dark.ShareIcon--circle.ShareIcon--twitter(href='http://twitter.com/senadofederal', target='_blank', title='Twitter', alt='Twitter')
        = ' '
        a.ShareIcon.ShareIcon--dark.ShareIcon--circle.ShareIcon--youtube(href='http://www.youtube.com/agenciasenadoBR', target='_blank', title='YouTube', alt='YouTube')
        = ' '
        a.ShareIcon.ShareIcon--dark.ShareIcon--circle.ShareIcon--flickr(href='http://www.flickr.com/agenciasenado', target='_blank', title='Flickr', alt='Flickr')

.FooterMain-end.Arrange.Arrange--middle.milli

  .Arrange-sizeFit.u-textNoWrap
    span.glyphicon.glyphicon-lock.u-alignBaseline
    = ' '
    a(href='https://intranet.senado.gov.br/', target='_blank')
      | Intranet

  
  ul.l-box.Fence.Fence--lg.hidden-xs
    li: a(href='http://www12.senado.leg.br/institucional/pessoas/pessoas') Servidor efetivo
    li: a(href='http://www12.senado.leg.br/institucional/pessoas/pessoas') Servidor comissionado
    li: a(href='http://www12.senado.leg.br/institucional/pessoas/pessoas') Servidor aposentado
    li: a(href='http://www12.senado.leg.br/institucional/pessoas/pessoas') Pensionista

  .u-textNoWrap
    span.glyphicon.glyphicon-chevron-up.u-alignBaseline
    = ' '
    a(href='#')
      | Voltar ao topo
