.NavGlobal.navbar.navbar-static-top

  .NavGlobal-container

    //- os dropdowns precisam ficar aberto no momento de gerar o uncss e
    //- fechado na hora do build
    .pull-right.dropdown
      a.NavGlobal-toggle.dropdown-toggle(data-toggle='dropdown')
        .Icon.Icon--menu.Icon--md
        span.u-alignMiddle  Portais
      ul.NavGlobal-dropdownMenu.dropdown-menu
        include ../commons/portais

    .NavGlobal-logo.pull-left
      a(href='http://www.senado.gov.br/')
        img(src='http://www.senado.gov.br/inc/essencial/img/senado.svg', alt='Senado Federal', height=23, width=170)

    .NavGlobal-middle
      a(href='http://www12.senado.gov.br/institucional/falecomosenado') Fale com o Senado
      span.Box.Box--x.js-vlibras(role='button')
        img(src='http://www.senado.gov.br/inc/essencial/img/vlibras.png', alt='VLibras', height=32, width=31)
