form.Az(role='search' action='http://www6g.senado.gov.br/busca/' data-colecao="Atividade Legislativa")
  .input-group(data-toggle='_dropdown')
    input.Az-input.form-control(type='text', placeholder='Busca', autocomplete='off', name='q')
    span.input-group-btn
      button.btn.btn-default(type='submit' aria-label='Buscar')
        .glyphicon.glyphicon-search.text-muted
