footer#main-footer.FooterMain.gray-default.bg-gray-white
  .container
    .row.FooterMain-row
      .col-sm-3.FooterMain-section
        ul.list-unstyled
          li a
          li b
          li c
          li d
      .col-sm-3.FooterMain-section
        ul.list-unstyled
          li a
          li b
          li c
          li d
      .col-sm-3.FooterMain-section
        ul.list-unstyled
          li a
          li b
          li c
          li d
      .col-sm-3.FooterMain-section
        ul.list-unstyled
          li a
          li b
          li c
          li d
.FooterMain-endereco.text-center.bg-blue-senado.white
  | Senado Federal -
  | Praça dos Três Poderes - Brasília DF - CEP 70165-900
  | | Sugestões para a intranet? 
  a(href='mailto:comunicacaointerna@senado.leg.br', target='_top', style='color:#fff;') Clique aqui.
