#main-footer.FooterMain
  .container
    .FooterMain-row
      .FooterMain-section
        dl.FooterMain-list
          dt Centrais de atendimento
          dd.FooterMain-link.u-linkClean
            | Comunicação Interna (intranet)
            span.pull-right.footer-blur 3335
          dd.FooterMain-link.u-linkClean
            | Gestão de Pessoas (Alô Servidor)
            span.pull-right.footer-blur 1000
          dd.FooterMain-link.u-linkClean
            | Prodasen
            span.pull-right.footer-blur 2000
          dd.FooterMain-link.u-linkClean
            | Presidência
            span.pull-right.footer-blur 3000
          dd.FooterMain-link.u-linkClean
            | DGER
            span.pull-right.footer-blur 4000
          dd.FooterMain-link.u-linkClean
            | Brigadistas
            span.pull-right.footer-blur 4222
          dd.FooterMain-link.u-linkClean
            | Polícia do Senado
            span.pull-right.footer-blur 4444
          dd.FooterMain-link.u-linkClean
            | SIS
            span.pull-right.footer-blur 5000
          dd.FooterMain-link.u-linkClean
            | Telefonia(Cootele)
            span.pull-right.footer-blur 7000
          dd.FooterMain-link.u-linkClean
            | Busca Ramais
            span.pull-right.footer-blur 9000
          dd.FooterMain-link.u-linkClean
            | SIGAD (Suporte)
            span.pull-right.footer-blur 3719 / 1563
      .FooterMain-section
        dl.FooterMain-list
          dt Telefones úteis
          dd.FooterMain-link.u-linkClean
            | Lanchonete Senac Prodasen
            span.pull-right.footer-blur 3226-9712
          dd.FooterMain-link.u-linkClean
            | Lanchonete Amendoces
            span.pull-right.footer-blur 1371
          dd.FooterMain-link.u-linkClean
            | Restaurante de Massas Senac
            span.pull-right.footer-blur 3224-8248
          dd.FooterMain-link.u-linkClean
            | Restaurante dos Senadores Senac
            span.pull-right.footer-blur 3226-7512
          dd.FooterMain-link.u-linkClean
            | Restaurante Peixe na Rede & Cia
            span.pull-right.footer-blur 2854
          dd.FooterMain-link.u-linkClean
            | Banco do Brasil (Ag. Senado)
            span.pull-right.footer-blur 3101-8400
          dd.FooterMain-link.u-linkClean
            | Caixa Econômica (Ag. Senado)
            span.pull-right.footer-blur 2102-7150
      .FooterMain-section
        dl.FooterMain-list
          dt Links úteis
          dd
            a.FooterMain-link.u-linkClean(href='https://intranet.senado.leg.br/noticias/cardapios') Cardápios
          dd
            a.FooterMain-link.u-linkClean(href='https://intranet.senado.leg.br/menu-de-servicos/interessantes/talentos-e-oportunidades') Talentos e Oportunidades
          dd
            a.FooterMain-link.u-linkClean(href='https://intranet.senado.leg.br/menu-de-servicos/interessantes/calendarios-de-pagamentos-e-feriados') Pagamentos e Feriados
      .FooterMain-section
        dl.FooterMain-list
          dt Informações
          dd
            a.FooterMain-link.u-linkClean(target='_blank', href='http://www.senado.leg.br/institucional/saude/carteirasis.asp') Carteira do SIS
          dd
            a.FooterMain-link.u-linkClean(href='https://intranet.senado.leg.br/pessoas/servidor-efetivo/direitos-e-concessoes/adicionais/especializacao') Adicional de Especialização
          dd
            a.FooterMain-link.u-linkClean(href='https://intranet.senado.leg.br/pessoas/arquivos/formularios/servidor_licenca_capacitacao') Licença Capacitação
  .FooterMain-endereco
    | Senado Federal -
    | Praça dos Três Poderes - Brasília DF - CEP 70165-900
    | | Sugestões para a intranet? 
    a(href='mailto:comunicacaointerna@senado.leg.br', target='_top', style='color:#fff;') Clique aqui.
