ul.navbar-nav.mr-auto
  li.nav-item.active
    a.nav-link(href='#')
      | Notícias
      span.sr-only (current)
  li.nav-item
    a.nav-link(href='#') Pessoas
  li.nav-item
    a.nav-link(href='#') SIS/Saúde
  li.nav-item
    a.nav-link(href='#') Educação
  li.nav-item
    a.nav-link(href='#') Administração
  li.nav-item.dropdown
    a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      | Informação e Documentação 
    .dropdown-menu(aria-labelledby='navbarDropdown')
      a.dropdown-item(href='#') Action
      a.dropdown-item(href='#') Another action
      .dropdown-divider
      a.dropdown-item(href='#') Something else here




    