include ../componentes/mixin.pug
ul.navbar-nav.mr-auto
  +lidropdown-nav('Notícias')
  +lidropdown-nav('Pessoas')
  +lidropdown-nav('SIS/Saúde')
  +lidropdown-nav('Educação')
  +lidropdown-nav('Administração')
  +lidropdown-nav('Informação e Documentação')
ul.navbar-nav.m-0
  li
    label.bg-gray-basic.badge.badge-secondary.m-0.p-2
      a.link--dark.size--xregular.p-2(data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample")
        .fas.fa-search
      span 
      a.link--dark.size--xregular.p-2(href='#')
        .fas.fa-question
