nav.navbar.navbar-expand-lg.navbar-dark.bg-gray-dark
  .container
    .w-100
      .row
        .col-3
          .bd-style
            a.navbar-brand.text-uppercase(href='#') Intranet
            a.m-3(href='#') c
            a.m-3(href='#') n
            a.ml-3(href='#') t
        .col-9
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarColor01', aria-controls='navbarColor01', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarColor01.collapse.navbar-collapse
            include nav.pug
            form.form-inline