// By Carlos vz
// SYSTEM COLORS
.negative {color: $negative;}
.blue-senado{color: $blue-senado;}
.black {color: $black;}
.gray-dark {color: $gray-dark;}
.gray-fox {color: $gray-fox;}
.gray-basic {color: $gray-basic;}
.gray-default {color: $gray-default;}
.gray-light {color: $gray-light;}
.gray-far {color: $gray-far;}
.gray-white {color: $gray-white;}
.cut {color: $cut;}
.white {color: $white;}
.white-far {color: $white-far;}
.white-str {color: $white-str;}
.blue-link {color: $blue-link;}
.blue-play {color: $blue-play;}
.red-cord {color: $red-cord;}
.orange {color:$orange;}
.shadowc {text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);}

.bg-negative {background-color: $negative;}
.bg-blue-senado {background-color: $blue-senado;}
.bg-black {background-color: $black;}
.bg-gray-dark {background-color: $gray-dark;}
.bg-gray-fox {background-color: $gray-fox;}
.bg-gray-basic {background-color: $gray-basic;}
.bg-gray-default {background-color: $gray-default;}
.bg-gray-light {background-color: $gray-light;}
.bg-gray-far {background-color: $gray-far;}
.bg-gray-white {background-color: $gray-white;}
.bg-cut {background-color: $cut;}
.bg-white {background-color: $white;}
.bg-white-far {background-color: $white-far;}
.bg-white-str {background-color: $white-str;}
.bg-blue-link {background-color: $blue-link;}
.bg-blue-play {background-color: $blue-play;}
.bg-red-cord {background-color: $red-cord;}
.bg-orange {background-color:$orange;}
.bg-gradient {@extend %caption-gradient;}

// SET INTRANET COLORS
.color1 {color:$color-1;}
.color2 {color:$color-2;}
.color3 {color:$color-3;}
.color4 {color:$color-4;}
.color5 {color:$color-5;}
.color6 {color:$color-6;}
.color7 {color:$color-7;}
.color8 {color:$color-8;}
.color9 {color:$color-9;}
.color10 {color:$color-10;}
.color11 {color:$color-11;}
.color12 {color:$color-12;}
.color13 {color:$color-13;}

.bg-color1 {background-color:$color-1;}
.bg-color2 {background-color:$color-2;}
.bg-color3 {background-color:$color-3;}
.bg-color4 {background-color:$color-4;}
.bg-color5 {background-color:$color-5;}
.bg-color6 {background-color:$color-6;}
.bg-color7 {background-color:$color-7;}
.bg-color8 {background-color:$color-8;}
.bg-color9 {background-color:$color-9;}
.bg-color10 {background-color:$color-10;}
.bg-color11 {background-color:$color-11;}
.bg-color12 {background-color:$color-12;}
.bg-color13 {background-color:$color-13;}

// SYSTEM SIZE
.size--xlarge {font-size: $xlarge}
.size--large {font-size: $large}
.size--medium {font-size: $medium}
.size--lightmedium {font-size: $lightmedium;}
.size--xmiddle {font-size: $xmiddle}
.size--smiddle {font-size: $smiddle}
.size--middle {font-size: $middle}
.size--xregular {font-size: $xregular}
.size--regular {font-size: $regular}
.size--small {font-size: $small}
.size--milli {font-size: $milli}
@include media-breakpoint-down(sm) { 
	.size--xlarge {font-size: $medium}
	.size--large {font-size: $xmiddle}
	.size--medium {font-size: $middle}
	.size--middle {font-size: $regular}
}
html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
// SYSTEM LINK
.link--cut {
	color: $cut;
	transition: $linktransition;
	border: none;
	&:hover, &:focus, &:active {
		color: $white;
		border: none;
		outline: none;
		text-decoration: none;
	}
}
.link--blue-link {
	color: $blue-link;
	transition: $linktransition;
	border: none;
	&:hover, &:focus, &:active {
		color: $blue-play;
		border: none;
		outline: none;
		text-decoration: none;
	}
}
.link-pictures {
	img {
		transform: scale(1);
		transition: .3s ease-in-out;
		object-fit: cover;
		&:hover {
			transform: scale(1.3);
		}
	}
}
.link--dark {
	color: $white;
	transition: $linktransition;
	border: none;
	&:hover, &:focus, &:active {
		color: $orange;
		border: none;
		outline: none;
		text-decoration: none;
	}
}
.link--card {
	color: $cut;
	transition: $linktransition;
	&:hover, &:focus, &:active {
		color: $gray-dark;
		border: none;
		outline: none;
		text-decoration: none;
	}
}
.link--blueplay {
	color: $blue-play;
	transition: $linktransition;
	border: none;
	&:hover, &:focus, &:active {
		color: $red-cord;
		border: none;
		outline: none;
		text-decoration: none;
	}
}
.link--play {
	color: $cut;
	transition: $linktransition;
	border: none;
	position: relative;
	&:after {
		content:"\f144";
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		color: $cut;
		font-size: 32px;
		top:5% ;
		left: 13%;
		position: absolute;
	}
	&:hover {
		color: $orange;
		&:after {
			color: $orange;
		}
	}
}
// BORDERS
// BODY
body {
	line-height: 1.4;
	background-color: $white;
}
// POSITIONS SIDES
.psr-0 {right: 0;}
.psl-0 {left: 0;}
.pst-0 {top:0;}
.psb-0 {bottom: 0;}

// SYSTEM Z-INDEX
.zindex-fixed {
	z-index: $zindex-fixed;
}
// FIX ITENS
.bd-style {
	border-left: 1px solid $black;
    border-right: 1px solid $black;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
    padding: 0.5rem 1rem;
}
.no-style-li{
	list-style-type: none;
	list-style-image: none;
}
.dvoqQu {
  > div {
    width: 100%;
    align-items: flex-end;
    display: flex;
  }
  .bg-gradient {
    width: 100%;
  }
}
.negative-gutter--right {
	margin-right: -0.75rem;
}
.no-max--width{
	max-width: none;
}
.no--focus {
	box-shadow: none !important;
}
.pb-6 {
	padding-bottom: 180px; 
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
// Floating Video Ends

@include media-breakpoint-down(xs) {
	.no-gutter--xs {padding: 0;}
	.minimum-sticky-16by9, .minimum-sticky-4by3 {
		min-height: inherit;
	}
}
@include media-breakpoint-down(md) {
	.minimum-sticky-12 {
		width: 100%;
		min-height: 100px;
		display: flex;
		flex-wrap: wrap;
	}
}
