// VARIABLES THEMA SYSTEM COLORS
$negative: #000;
$black: #1F252C;
$orange: #E57E22;
$gray-dark: #2B333C;
$gray-fox: #313131;
$gray-basic: #343E49;
$gray-default: #666;
$gray-light: #999;
$gray-far: #4E6570;
$cut: #CCC;
$white: #FFF;
$white-far: #F9F9F9;
$white-str: #EDEDED;
$blue-link: #3e6892;
$blue-play: #0095DA;
$red-cord: #EB5757;
$success: #28a745;
// SET INTRANET COLORS 
$color-1: #ACDDF5;
$color-2: #DAEEFE;
$color-3: #B9D3FE;
$color-4: #E9F2FE;
$color-5: #8BD0E2;
$color-6: #A5D6E2;
$color-7: #ACB3F5;
$color-8: #D2F5AC;
$color-9: #E7F5D8;
$color-10: #E2BA8B;
$color-11: #E0CBB3;
$color-12: #C787EB;
$color-13: #D6BDE5;
// VARIABLES THEMA TYPOGRAPHY

$fontFamily: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Geneva,Verdana,sans-serif;
$xlarge: 60px;
$large: 48px;
$medium: 36px;
$xmiddle: 22px;
$smiddle: 20px;
$middle: 18px;
$xregular: 16px;
$regular: 14px;
$small: 12px;
$milli: 8px;

// TRANSITION
$linktransition: color 0.15s linear;
