.FooterMain {
  margin-top: 10px;
  padding-top: 10px;
}
@media (min-width: 768px) { 
  .FooterMain {
    padding-top: 20px;
  }
}
.FooterMain-endereco {
  font-size: 11px;
  padding: 10px;
  line-height: 1.5;
}