.sidebar {
  border: 1px solid $white-str;
  a {
    border-bottom: 1px solid $white-str;
    transition: $linktransition;
    color:$gray-far;
    &:hover{
      background-color: $orange;
      color:$white;
      text-decoration: none;
    }
  }
}