include ../componentes/mixin.pug
+card('white bg-orange','Fotos','bg-gray-basic')
  .d-flex.align-items-start
    +itemfoto('https://unsplash.it/800/600?random&seed=0', 'https://unsplash.it/300/300?random&seed=0','Img description')
    +itemfoto('https://unsplash.it/800/600?random&seed=1', 'https://unsplash.it/300/300?random&seed=1','Img description')
    +itemfoto('https://unsplash.it/800/600?random&seed=2', 'https://unsplash.it/300/300?random&seed=2','Img description')
  .d-flex.align-items-start
    +itemfoto('https://unsplash.it/800/600?random&seed=3', 'https://unsplash.it/300/300?random&seed=3','Img description')
    +itemfoto('https://unsplash.it/800/600?random&seed=4', 'https://unsplash.it/300/300?random&seed=4','Img description')
    +itemfoto('https://unsplash.it/800/600?random&seed=5', 'https://unsplash.it/300/300?random&seed=5','Img description')
  .d-flex.align-items-start
    +itemfoto('https://unsplash.it/800/600?random&seed=6', 'https://unsplash.it/300/300?random&seed=6','Img description')
    +itemfoto('https://unsplash.it/800/600?random&seed=7', 'https://unsplash.it/300/300?random&seed=7','Img description')
    +itemfoto('https://unsplash.it/800/600?random&seed=8', 'https://unsplash.it/300/300?random&seed=8','Img description')

+card('white bg-gray-default','Vídeos','bg-gray-basic')
  .nano.nano-height--xs
    .nano-content.py-2
      ul.list-unstyled
        +li-videos('http://www.youtube.com/watch?v=k6mFF3VmVAs', 'http://i1.ytimg.com/vi/yP11r5n5RNg/mqdefault.jpg', 'Ghostpoet - Cash and Carry Me Home (Official Video)')
        +li-videos('http://youtu.be/iQ4D273C7Ac', 'http://i1.ytimg.com/vi/iQ4D273C7Ac/mqdefault.jpg', 'Nostalgia 77 Feat Alice Russell - Seven Nation Army')
        +li-videos('https://youtu.be/VnR_4dXbyhs', 'http://i3.ytimg.com/vi/VnR_4dXbyhs/hqdefault.jpg', 'Alice Russell - Crazy')
        +li-videos('https://youtu.be/QgADsQqcKUs', 'http://i3.ytimg.com/vi/QgADsQqcKUs/hqdefault.jpg', 'Tupac - All Eyes OnMe | Full Album | | Best Quality | | HD |')
        +li-videos('https://youtu.be/WVk6n-212Pw', 'http://i3.ytimg.com/vi/WVk6n-212Pw/hqdefault.jpg', 'GET RICH OR DIE TRYIN')
        +li-videos('https://youtu.be/_JZom_gVfuw', 'http://i3.ytimg.com/vi/_JZom_gVfuw/hqdefault.jpg', 'The Notorious B.I.G. - Juicy (Official Music Video)')
        +li-videos('https://youtu.be/neup2IZq2yk', 'http://i3.ytimg.com/vi/neup2IZq2yk/hqdefault.jpg', '2Pac - The Warriors Way {Tyson Theme} (Nozzy-E Remix) 2018')

+card('blue-link bg-white-far','Feed Servidores','bg-white-far')
  .nano.nano-height--xs
    .nano-content.py-2.px-2
      ul.list-unstyled
        +li-notificacoes('','assets/user.svg','Usuário 1')
        +li-notificacoes('','assets/user.svg','Usuário 1')
        +li-notificacoes('','assets/user.svg','Usuário 1')
        +li-notificacoes('','assets/user.svg','Usuário 1')
        +li-notificacoes('','assets/user.svg','Usuário 1')
        +li-notificacoes('','assets/user.svg','Usuário 1')

+card('blue-link bg-white-far','Feed Comunidades','bg-white-far')
