.collapse.js-collapse-search#collapseExample
  form(action="")
    .form-group.wrapper-fontawesome
      input.js-closeoutside.p-search.search-style.js-trigger.form-control.form-control-lg.w-100(type="text" placeholder="O que vc está buscando?")