aside.sidebar.bg-white-far
  ul.list-unstyled
    li.py-3.px-3
      .media
        span.badge-status.badge--border-md.badge--md.badge--success.badge--content-none.badge--userposition
          img.align-self-center.mr-3(src='assets/user.svg', alt='...' width='55px')
        .media-body
          h5.size--xregular.mt-0 Carlos Eduardo Gomes Neri
    li
      a.float-left.py-2.px-3.bg-color1.w-100(href='#')
        img.align-self-center.mr-3.float-left(src='assets/central-servicos.svg', alt='...' width='35px')
        .size--xregular Central de Serviços Administrativos
    li
      a.float-left.py-2.px-3.bg-color2.w-100(href='#')
        img.align-self-center.mr-3.float-left(src='assets/central-legislativa.svg', alt='...' width='35px')
        .size--xregular Central Legislativa e Parlamentar
    li.collapse-toggle
      a.collapse-toggle.float-left.py-2.px-3.bg-color3.w-100(data-toggle="collapse" href="#collapseServicos" role="button" aria-expanded="false" aria-controls="collapseServicos")
        img.align-self-center.mr-3.float-left(src='assets/ferramentas.svg', alt='...' width='35px')
        .size--xregular.p-2 Ferramentas
      #collapseServicos.collapse
        .card.card-body.bg-color4
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    li.collapse-toggle
      a.collapse-toggle.float-left.py-2.px-3.bg-color5.w-100(data-toggle="collapse" href="#collapsePhone" role="button" aria-expanded="false" aria-controls="collapsePhone")
        img.align-self-center.mr-3.float-left(src='assets/ferramentas.svg', alt='...' width='35px')
        .size--xregular.p-2 Telefones Úteis
      #collapsePhone.collapse
        .card.card-body.bg-color6
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    li
      a.float-left.py-2.px-3.bg-color7.w-100(href='#')
        img.align-self-center.mr-3.float-left(src='assets/restaurantes.svg', alt='...' width='35px')
        .size--xregular.p-2 Restaurantes
    li.collapse-toggle
      a.collapse-toggle.float-left.py-2.px-3.bg-color8.w-100(data-toggle="collapse" href="#collapsePagamentos" role="button" aria-expanded="false" aria-controls="collapsePagamentos")
        img.align-self-center.mr-3.float-left(src='assets/pagamentos.svg', alt='...' width='35px')
        .size--xregular.p-2 Pagamentos
      #collapsePagamentos.collapse
        .card.card-body.bg-color9
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    li.collapse-toggle
      a.collapse-toggle.float-left.py-2.px-3.bg-color10.w-100(data-toggle="collapse" href="#collapseFeriados" role="button" aria-expanded="false" aria-controls="collapseFeriados")
        img.align-self-center.mr-3.float-left(src='assets/feriados.svg', alt='...' width='35px')
        .size--xregular.p-2 Feriados
      #collapseFeriados.collapse
        .card.card-body.bg-color11
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
    li.collapse-toggle
      a.collapse-toggle.float-left.py-2.px-3.bg-color12.w-100(data-toggle="collapse" href="#collapseAniversariantes" role="button" aria-expanded="false" aria-controls="collapseAniversariantes")
        img.align-self-center.mr-3.float-left(src='assets/aniversariantes.svg', alt='...' width='35px')
        .size--xregular.p-2 Aniversáriantes
      #collapseAniversariantes.collapse
        .card.card-body.bg-color13
          | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.