extends index.pug
block content
  .container
    .row
      .col-md-8
        article#apresentacao.u-spacer--xl
          h2.delta Apresentação
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae rem atque obcaecati facilis ad earum, labore eum, accusamus ea aut praesentium ipsam commodi deserunt quibusdam exercitationem est, et nihil. Neque!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae rem atque obcaecati facilis ad earum, labore eum, accusamus ea aut praesentium ipsam commodi deserunt quibusdam exercitationem est, et nihil. Neque!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae rem atque obcaecati facilis ad earum, labore eum, accusamus ea aut praesentium ipsam commodi deserunt quibusdam exercitationem est, et nihil. Neque!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae rem atque obcaecati facilis ad earum, labore eum, accusamus ea aut praesentium ipsam commodi deserunt quibusdam exercitationem est, et nihil. Neque!
        article#comoparticipar.u-spacer--xl
          h2.delta Como participar
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod amet eius ratione inventore culpa voluptatem quidem exercitationem soluta nesciunt iste cum maxime, itaque in quibusdam, porro laudantium ducimus, nostrum hic!
          h2.delta Carta
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eligendi minus, laboriosam maiores quaerat cumque sapiente tenetur, quae ipsa, aperiam explicabo similique eos adipisci ratione voluptatem? Repellendus consectetur incidunt neque.
          h2.delta Telefone
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          h2.delta Formulário de mensagem
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          h2.delta E-mail
          p email@dominio.com
        article#identificar.u-spacer--xl
          h2.delta Como identificar notícias falsas
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam blanditiis aperiam incidunt iste, repellendus ab velit eum ipsam voluptatibus quis saepe quia laudantium, alias sed labore cumque dolor, sapiente illo.
          ol
            li.u-spacer--xl Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit consectetur illum dolore dignissimos? Quaerat modi at quas saepe delectus pariatur culpa. Porro, sapiente similique libero possimus aliquam odio ratione assumenda?
            li.u-spacer--xl Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque omnis excepturi ex cum, perspiciatis voluptas, fugit pariatur itaque, consectetur maxime hic provident harum sit alias unde eum inventore ullam deleniti!
            li.u-spacer--xl Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi ut unde pariatur quo debitis nobis aliquid, non possimus, mollitia, placeat a blanditiis. Culpa saepe tempora illo corrupti praesentium sed distinctio!
            li.u-spacer--xl Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur suscipit corporis odit quas repellat, quam ab velit pariatur soluta nemo fugiat possimus molestias quae nihil dolorum rerum corrupti repellendus inventore.
      .col-md-4
        .nav-tabs--template
          ul.nav.nav-tabs.u-spacer--xl
            li.active.w-100
              a.fix-navtab Mais populares
          include pug/componentes/aside.pug
        .nav-tabs--template
          ul.nav.nav-tabs.u-spacer--xl
            li.active.w-100
              a.fix-navtab Tags
          ul.list-inline.list-unstyled
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary cpi fakenews
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary coronavirus
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary covid-19
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary previdëncia
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary auxilio
          
          
          
          
          