extends index.pug
block content
  .container
    .row
      .col-md-8
        article#apresentacao.u-spacer--xl
          h2.delta Apresentação
          p <b>Senado Verifica – Fato ou Fake?</b> é um canal de interação com o cidadão destinado à checagem da veracidade de informações sobre o Senado publicadas em quaisquer meios de comunicação e nas redes sociais, consideradas falsas, incorretas ou que tenham a finalidade de gerar engano ou ânimo contrário à instituição. É uma importante contribuição do Senado à defesa da liberdade de expressão e da democracia, tendo em vista o impacto nocivo das “fake news” sobre a sociedade e suas instituições. 
        article#comofunciona.u-spacer--xl
          h2.delta Como funciona 
          p A checagem é feita por uma equipe de jornalistas que recebe as informações enviadas pelos cidadãos ou selecionadas a partir do acompanhamento de notícias publicadas sobre o Senado nos meios de comunicações e nas plataformas digitais. As respostas enviadas aos cidadãos e as demais checagens poderão ser publicadas na página do Senado Verifica: Fato ou Fake?. Veja todas as Checagens. 
        article#comoparticipar.u-spacer--xl
          h2.delta Como participar
          p O cidadão poderá solicitar a checagem por meio dos canais de relacionamento do Senado — 
            a(href='https://www12.senado.leg.br/institucional/falecomosenado' target='_blank')
              | Fale com o Senado, 
            | conforme a 
            a(href='')
              | Política de Uso do serviço. 
          p Os canais são:
          p
            ins Carta:
            |  Fale com o Senado - Senado Federal - Via N2 - CEP:70165-900 - Brasília, DF
          p
            ins Telefone:
            a(href='tel:0800 612211')  0800 612211 
            | (ligação gratuita de todo o Brasil, por telefone fixo e celular) 
          p
            ins
              a(href='https://www12.senado.leg.br/institucional/falecomosenado/formulario' target='_blank') Formulário de mensagem:
            |   disponível na página do Senado: 
          p
            ins Email:
            a(href='mailto:senadoverifica@senado.leg.br')   senadoverifica@senado.leg.br
        article#identificar.u-spacer--xl
          h2.delta Como identificar notícias falsas
          ol
            li.u-spacer--xl Veja se os títulos apelam para o <b>exagero</b> e <b>abusam de recurso visuais</b>, como negrito, letra maiúscula e pontos de exclamação; 
            li.u-spacer--xl Preste atenção no texto. Geralmente notícias falsas têm <b>erros de ortografia concordância ou lógica</b>; 
            li.u-spacer--xl Fique atento se a mensagem <b>estimula o compartilhamento rápido, sem pensar</b>;
            li.u-spacer--xl Pesquise se a notícia foi divulgada em outro veículo de comunicação. Além disso, <b>veja se o texto possui uma fonte ou referência confiável</b>; 
            li.u-spacer--xl <b>Veja quem é o autor</b>. Pesquise se a pessoa realmente existe; 
            li.u-spacer--xl Se você chegar à conclusão de que é <b>boato, não compartilhe!</b> 
      .col-md-4
        .nav-tabs--template
          ul.nav.nav-tabs.u-spacer--xl
            li.active.w-100
              a.fix-navtab Mais populares
          include pug/componentes/aside.pug
        .nav-tabs--template
          ul.nav.nav-tabs.u-spacer--xl
            li.active.w-100
              a.fix-navtab Tags
          ul.list-inline.list-unstyled
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary cpi fakenews
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary coronavirus
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary covid-19
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary previdëncia
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary auxilio
          
          
          
          
          