extends index.pug
block content
  .container
    .row
      .col-md-8
        .nav-tabs--template
          ul.nav.nav-tabs(role='tablist').u-spacer--xl
            li.active(role='presentation')
              a(href='#recentes', aria-controls='recentes', role='tab', data-toggle='tab') Mais recentes
            li(role='presentation')
              a(href='#todas', aria-controls='todas', role='tab', data-toggle='tab') Todas
          .tab-content
            #recentes.tab-pane.active(role='tabpanel')
              +box('box-border--red','assets/fn-red.svg','img/materias/materia1/imagem_materia.jpg','box-caption--p4','assets/fake.svg','href','beta','É falso que Senado esteja analisando uma "Lei da Proteção Doméstica", contra a liberdade religiosa')
              +box('box-border--red','assets/fn-red.svg','img/materias/materia2/imagem_materia.jpg','box-caption--p4','assets/fake.svg','href','beta','Mensagens que apontam indução de voto em consulta sobre projetos são falsas')
              +box('box-border--orange','assets/fn-orange.svg','img/materias/materia3/imagem_materia.jpg','box-caption--p4','assets/impreciso.svg','href','beta','Senado nas redes sociais: tome cuidado com perfis falsos ou enganosos')
            #todas.tab-pane(role='tabpanel')
              +media('box-border--top-orange', 'img/materias/materia3/imagem_materia.jpg','c-orange','IMPRECISO','Senado nas redes sociais: tome cuidado com perfis falsos ou enganosos')
              +media('box-border--top-red', 'img/materias/materia1/imagem_materia.jpg','c-red','FAKE','É falso que Senado esteja analisando uma "Lei da Proteção Doméstica", contra a liberdade religiosa')
              +media('box-border--top-green', 'img/materias/materia5/imagem_materia.jpg','c-green','FATO','Senado faz campanha de combate a notícias falsas')
              +media('box-border--top-red', 'img/materias/materia2/imagem_materia.jpg','c-red','FAKE','Mensagens que apontam indução de voto em consulta sobre projetos são falsas')
              +media('box-border--top-red', 'img/materias/materia4/imagem_materia.jpg','c-red','FAKE','Notícia falsa envolvendo TV Senado volta a circular no WhatsApp')
              nav.text-center(aria-label='Page navigation')
                ul.pagination
                  li
                    a(href='#', aria-label='Previous')
                      span(aria-hidden='true') «
                  li
                    a(href='#') 1
                  li
                    a(href='#') 2
                  li
                    a(href='#') 3
                  li
                    a(href='#') 4
                  li
                    a(href='#') 5
                  li
                    a(href='#', aria-label='Next')
                      span(aria-hidden='true') »

      .col-md-4
        .nav-tabs--template
          ul.nav.nav-tabs.u-spacer--xl
            li.active.w-100
              a.fix-navtab Mais populares
          include pug/componentes/aside.pug
        .nav-tabs--template
          ul.nav.nav-tabs.u-spacer--xl
            li.active.w-100
              a.fix-navtab Tags
          ul.list-inline.list-unstyled
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary cpi fakenews
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary coronavirus
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary covid-19
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary previdëncia
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary auxilio
          
          
          
          
          