extends index.pug
block content
  .container
    .row
      .col-md-8
        .nav-tabs--template
          ul.nav.nav-tabs(role='tablist').u-spacer--xl
            li.active(role='presentation')
              a(href='#recentes', aria-controls='recentes', role='tab', data-toggle='tab') Mais recentes
            li(role='presentation')
              a(href='#todas', aria-controls='todas', role='tab', data-toggle='tab') Todas
          .tab-content
            #recentes.tab-pane.active(role='tabpanel')
              +box('box-border--green','assets/fn-green.svg','https://unsplash.it/800/600?random&seed=0','box-caption--p4','assets/fato.svg','href','beta','Lorem ipsum dolor sit amet consectetur adipisicing elit. A corporis animi omnis harum laboriosam deleniti')
              +box('box-border--red','assets/fn-red.svg','https://unsplash.it/1500/800?random&seed=1','box-caption--p4','assets/fake.svg','href','beta','Lorem ipsum dolor sit amet consectetur adipisicing elit. A corporis animi omnis harum laboriosam deleniti')
              +box('box-border--orange','assets/fn-orange.svg','https://unsplash.it/1500/800?random&seed=2','box-caption--p4','assets/impreciso.svg','href','beta','Lorem ipsum dolor sit amet consectetur adipisicing elit. A corporis animi omnis harum laboriosam deleniti')
            #todas.tab-pane(role='tabpanel')
              +media('box-border--top-orange', 'https://unsplash.it/600/600?random&seed=3','c-orange','IMPRECISO')
              +media('box-border--top-red', 'https://unsplash.it/600/600?random&seed=4','c-red','FAKE')
              +media('box-border--top-green', 'https://unsplash.it/600/600?random&seed=5','c-green','FATO')
              +media('box-border--top-green', 'https://unsplash.it/600/600?random&seed=6','c-green','FATO')
              +media('box-border--top-orange', 'https://unsplash.it/600/600?random&seed=7','c-orange','IMPRECISO')
              +media('box-border--top-red', 'https://unsplash.it/600/600?random&seed=8','c-red','FAKE')
              +media('box-border--top-red', 'https://unsplash.it/600/600?random&seed=9','c-red','FAKE')
              nav.text-center(aria-label='Page navigation')
                ul.pagination
                  li
                    a(href='#', aria-label='Previous')
                      span(aria-hidden='true') «
                  li
                    a(href='#') 1
                  li
                    a(href='#') 2
                  li
                    a(href='#') 3
                  li
                    a(href='#') 4
                  li
                    a(href='#') 5
                  li
                    a(href='#', aria-label='Next')
                      span(aria-hidden='true') »

      .col-md-4
        .nav-tabs--template
          ul.nav.nav-tabs.u-spacer--xl
            li.active.w-100
              a.fix-navtab Mais populares
          include pug/componentes/aside.pug
        .nav-tabs--template
          ul.nav.nav-tabs.u-spacer--xl
            li.active.w-100
              a.fix-navtab Tags
          ul.list-inline.list-unstyled
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary cpi fakenews
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary coronavirus
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary covid-19
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary previdëncia
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary auxilio
          
          
          
          
          