doctype html  
html(lang='pt')  
  head
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Senado verifica
  body
    include pug/commons/navglobal
    include pug/commons/mixin
    include pug/thin/portaltopo
    block content
      include pug/content/home.pug
    include pug/thin/footer-sem-ga