extends index.pug
block content
  .container
    .row
      .col-md-8
        h2.box-h2 É falso que Senado esteja analisando uma 'Lei da Proteção Doméstica', contra a liberdade religiosa
        +box('','assets/fn-red.svg','img/materias/materia1/imagem_materia.jpg','','assets/fake.svg','','eta','Voltaram a circular nas redes sociais e no WhatsApp mensagens afirmando que o Senado está analisando uma proposta chamada "Lei da proteção doméstica". O projeto teria o objetivo de punir o uso de som alto durante atividades religiosas, pregações de religiosos em horários noturnos, pregações nas ruas e nas casas das pessoas, entre outras práticas de instituições religiosas. Essa informação é falsa! A notícia tem várias características de fake news, como a omissão da fonte da informação, sensacionalismo, erros de português e a insistência em compartilhar a mensagem rapidamente sem pensar para o máximo de pessoas. Essa informação falsa começou a ser compartilhada no WhatsApp em setembro do ano passado, quando o Senado recebeu para análise o Projeto de Lei (PL) 5.100/2019 aprovado pela Câmara dos Deputados, que não trata de nenhum dos assuntos mencionados. Matéria publicada pela Agência Senado em janeiro deste ano explica que o PL 5.100/2019, apresentado pelo deputado federal Carlos Gomes (Republicanos-RS) em 2015, apenas propõe a definição de um limite para emissão sonora por igrejas e templos religiosos, unificando em todo o território nacional as regras que já existem em vários estados, por meio de leis estaduais e municipais. Na página do Senado na internet, o andamento da análise indica que o PL 5.100/2019 aguarda parecer do relator, senador Jader Barbalho (MDB-PA), na Comissão de Meio Ambiente. Como todas as propostas que estão no Senado, está sob consulta pública. Ou seja, todo cidadão pode opinar sobre o projeto até o final de sua tramitação. Para saber mais sobre as proposições analisadas pelos senadores, você pode pesquisar no portal da atividade legislativa do Senado Federal . Já o Portal Senado Notícias publica matérias em vídeo, áudio e texto com explicações sobre diversos projetos, medidas provisórias e atividades nas comissões e no Plenário. Fique de olho! Confira se as informações que você recebe têm características de fake news. Se tiver dúvida, não compartilhe. Fake news não!')
      .col-md-4
        .nav-tabs--template
          ul.nav.nav-tabs.u-spacer--xl
            li.active.w-100
              a.fix-navtab Mais populares
          include pug/componentes/aside.pug
        .nav-tabs--template
          ul.nav.nav-tabs.u-spacer--xl
            li.active.w-100
              a.fix-navtab Tags
          ul.list-inline.list-unstyled
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary cpi fakenews
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary coronavirus
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary covid-19
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary previdëncia
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary auxilio
          
          
          
          
          