extends index.pug
block content
  .container
    .row
      .col-md-8
        h2.box-h2 Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        +box('','assets/fn-green.svg','https://unsplash.it/800/600?random&seed=0','assets/fato.svg','','','eta','Lorem ipsum dolor sit amet consectetur adipisicing elit. Est molestiae minima, repellat suscipit a hic quas at sapiente labore commodi aliquid voluptas quibusdam libero odio eveniet quasi officia laboriosam ut?Lorem ipsum dolor sit amet consectetur adipisicing elit. Est molestiae minima, repellat suscipit a hic quas at sapiente labore commodi aliquid voluptas quibusdam libero odio eveniet quasi officia laboriosam ut?Lorem ipsum dolor sit amet consectetur adipisicing elit. Est molestiae minima, repellat suscipit a hic quas at sapiente labore commodi aliquid voluptas quibusdam libero odio eveniet quasi officia laboriosam ut?')
      .col-md-4
        .nav-tabs--template
          ul.nav.nav-tabs.u-spacer--xl
            li.active.w-100
              a.fix-navtab Mais populares
          include pug/componentes/aside.pug
        .nav-tabs--template
          ul.nav.nav-tabs.u-spacer--xl
            li.active.w-100
              a.fix-navtab Tags
          ul.list-inline.list-unstyled
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary cpi fakenews
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary coronavirus
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary covid-19
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary previdëncia
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary auxilio
          
          
          
          
          