extends index.pug
block content
  .container
    .row
      .col-md-8
        article.u-spacer--xl
          h2.delta Política de uso
          p O serviço de checagem de fake news — Senado Verifica: Fato ou Fake? — é um canal de interação com a sociedade, com a finalidade de responder a pedidos de apuração de informações consideradas falsas, incorretas ou que tenham a finalidade de gerar engano ou ânimo contrário à instituição por meio da propagação dessas notícias. 
          p Cabe à Secretaria de Comunicação Social (Secom) realizar a checagem demandada pelo cidadão. 
          p O acesso do cidadão ao serviço fica sujeito aos termos e condições abaixo, bem como à legislação vigente. Ao acessar e utilizar o serviço, o cidadão reconhece que leu e aceita, sem limitação ou ressalvas, os presentes termos de uso. 
        article.u-spacer--xl
          h2.delta O que é fake news 
          p Para efeito do funcionamento deste serviço, considera-se “fake news” que poderá ser checada a <i><b>informação relacionada ao Senado publicada em quaisquer meios de comunicação, incluindo redes sociais digitais</b> que:</i>
          ul
            li
              i Não corresponde à realidade, sendo amplamente compartilhada pelos meios de comunicação como se fosse verdadeira; 
            li
              i Tenha sido retirada de contexto ou contenha informação manipulada, prejudicando o entendimento do cidadão a respeito do assunto tratado; 
            li
              i Tenha sido tratada de forma a favorecer ou prejudicar pessoa, instituição, fato ou ideia. 
            li
              i Contenha imprecisões, tendo o objetivo de confundir ou enganar o cidadão a quem é dirigida a mensagem. 
          p
            strong Como funciona: 
            | O cidadão poderá submeter texto, áudio, vídeo, fotografias ou captura de tela, cards, links da internet. O conteúdo será submetido a análise pela Secom, que responderá o cidadão pelos canais de comunicação da Ouvidoria, de preferência o mesmo pelo qual o cidadão encaminhou a demanda.  
          p A critério da Secom, a checagem feita em resposta ao cidadão poderá ser publicada na página de checagem (ver Página de Checagem). 

          p 
            strong Como participar: 
            | O cidadão poderá solicitar a checagem por meio dos canais de relacionamento do Senado — 
            a(href='https://www12.senado.leg.br/institucional/falecomosenado' target='_blank')
              | Fale com o Senado, 
          p Deverão ser seguidas as normas de participação, definidas no <a href='https://www12.senado.leg.br/transparencia/leg/AMS12011.pdf' target='_blank'>Ato da Mesa Diretora n° 1/2011</a>, que regulamenta a Ouvidoria do Senado. O órgão não processa sugestões, críticas, reclamações ou denúncias anônimas. Dessa forma, embora não exija documento de identificação, solicita informações básicas como nome, endereço e formas de contato para que a resposta seja enviada. Também são pedidas informações de perfis, como gênero, unidade da federação, faixa etária e escolaridade, de forma a alimentar os relatórios de gestão e promover o controle social por meio da participação popular. 
          p A recusa em fornecer os dados solicitados para cadastro implicará o encerramento do atendimento sem tratamento da demanda. 
          p Os canais são:
          p
            ins Carta:
            | Fale com o Senado - Senado Federal - Via N2 - CEP:70165-900 - Brasília, DF
          p
            ins Telefone:
            a(href='tel:0800 612211')  0800 612211 
            | (ligação gratuita de todo o Brasil, por telefone fixo e celular) 
          p
            ins
              a(href='https://www12.senado.leg.br/institucional/falecomosenado/formulario' target='_blank') Formulário de mensagem:
            | disponível na página do Senado: 
          p
            ins Email:
            a(href='mailto:senadoverifica@senado.leg.br')   senadoverifica@senado.leg.br
          p 
            strong  Advertência e bloqueio: 
            | O usuário (a) deste canal fica sujeito a advertência e bloqueio se for identificada má fé ou uso irregular do serviço. Conforme a gravidade, os dados do usuário (a) serão encaminhados ao órgão responsável, para as providências cabíveis. 
          p São motivos para a <b>advertência</b>: envio sistemático ou não de conteúdos que não estejam alinhados à finalidade do canal e/ou não relacionados ao Senado; conteúdos inadequados (sugestões, críticas, reclamações ou denúncias anônimas, expressões ofensivas e ameaças a membros e servidores do Senado); mensagens repetidas e enviadas pelo mesmo autor. 
          p É motivo para <b>bloqueio</b> de acesso a este serviço: a reincidência após advertência feita a usuário (a).
          p 
            strong  Prazo de atendimento: 
            | O para atendimento será de 30 dias prorrogáveis por mais 30 dias. 
          p As checagens das demandas encaminhadas ao serviço têm nível próprio de complexidade e podem depender de avaliação técnica por diversos setores do Senado e do volume de demandas e, portanto, a resposta poderá não ocorrer de forma imediata. 
          p A Ouvidoria emitirá resposta padrão informando que a solicitação foi recebida, processada e encaminhada à Secom para checagem e informará o prazo para resposta.  
          p 
            strong  O que é checado: 
            | Serão checadas informações e conteúdos relacionados a proposições e atividades legislativas; a estrutura e administração do Senado; e a atividades legislativas dos Senadores no desempenho das funções regimentais <a href='http://legis.senado.leg.br/norma/579494/publicacao/16434817' target='_blank'>(Constituição Federal -CF</a>  <a href='https://www25.senado.leg.br/documents/12427/45868/RISF+2018+Volume+1.pdf/cd5769c8-46c5-4c8a-9af7-99be436b89c4' target='_blank'>e Regimento Interno do Senado Federal-RISF)</a>. 
          p Não serão objeto de checagem atos praticados em âmbito privado, em atividades nos estados de origem ou anteriores ao mandato; articulações políticas; atividades partidárias mesmo que realizadas no recinto do Congresso Nacional; opiniões pessoais sobre fatos e declarações que extrapolam as atividades legislativas e funções regimentais do parlamentar; conceitos amplos; juízo de valor e tendências. 
          p Mensagens contendo expressões ofensivas e ameaças a membros e servidores do Senado não serão acatadas. 
          p Demandas enviadas por profissionais de imprensa não relacionadas a “fake news” e mensagens relacionadas a questões que devam ser respondidas com base na <a href='https://www2.camara.leg.br/legin/fed/lei/2011/lei-12527-18-novembro-2011-611802-norma-pl.html' target='_blank'>Lei de Acesso à Informação – LAI (Lei n° 12.527/2011)</a> ou dirigidas a senadores e senadoras serão acatadas, porém encaminhadas aos setores competentes, o que será comunicado ao usuário (a) com informação sobre os caminhos corretos para atendimento (Saiba mais sobre os canais de interação do Senado <a href='https://www12.senado.leg.br/institucional/falecomosenado/formulario' target='_blank'>aqui</a>).
          p 
            strong  Página de checagem: 
            | É destinada à publicação de matérias de checagem de informação demandada por cidadãos, pela direção da Secom ou demais setores do Senado, de acordo com critérios pré-estabelecidos, envolvendo relevância e interesse popular e da instituição, e que estejam de acordo com o <a href='https://www12.senado.leg.br/manualdecomunicacao/fundamentos-e-diretrizes' target='_blank'>Manual de Comunicação da Secom</a> (ver Metodologia). 
          p O espaço também disponibiliza informações úteis sobre o Senado, notícias sobre as atividades legislativas, e orientação sobre combate a “fake news”. 
          p 
            strong Metodologia: 
            | Recebida a demanda, a equipe de checagem analisa o conteúdo e elabora resposta de acordo com os seguintes passos: 
          ol
            li.u-spacer--xl Identifica data, autor, fonte e origem da informação;  
            li.u-spacer--xl Apura a veracidade da informação. Se necessário, encaminha a demanda à área técnica relacionada ao assunto em questão; 
            li.u-spacer--xl Elabora resposta com base na apuração; 
            li.u-spacer--xl Classifica a informação aplicando os selos: Fake, Fato, Impreciso, Fique Atento. 
            li.u-spacer--xl Publica resposta na página de checagem observados critérios definidos no item Página de Checagem. O texto da resposta deverá ser objetivo e assegurar acesso a informações adicionais que contribuam para aumentar e melhorar o nível de informação sobre o assunto tratado por meio de links para textos, áudios e vídeos e demais conteúdos disponibilizados pelo Senado em suas páginas na internet. 
      .col-md-4
        .nav-tabs--template
          ul.nav.nav-tabs.u-spacer--xl
            li.active.w-100
              a.fix-navtab Mais populares
          include pug/componentes/aside.pug
        .nav-tabs--template
          ul.nav.nav-tabs.u-spacer--xl
            li.active.w-100
              a.fix-navtab Tags
          ul.list-inline.list-unstyled
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary cpi fakenews
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary coronavirus
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary covid-19
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary previdëncia
            li.list-inline-item.u-spacer--lg
              a(href='#').label.label-primary auxilio
          
          
          
          
          